.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}

.nav {
	background: #184264;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }

li{
    display: inline;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #e7e7e7;
  }
  
  li a:hover {
    background-color: #111;
  }

  /* styling for profile page images */

  .profile_page_images{
    position: relative;
    left: 0;
    top:0;
  }

  .backgroud_image{
    position: relative;
    top:0;
    left: 0;
    padding-top: 1em;
    width: 100%;
  }

  .profile_image{
    position: absolute;
    top: 70%;
    left: 40%;
  }

  .blog_title{
    text-align: center;
    padding-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
  }

