*{
    box-sizing: border-box;
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}

.nav {
	background: #184264;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }

li{
    display: inline;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #e7e7e7;
  }
  
  li a:hover {
    background-color: #111;
  }


  /* styling for profile page images */

  .profile_page_images{
    position: relative;
    left: 0;
    top:0;
  }

  .backgroud_image{
    position: relative;
    top:0;
    left: 0;
    padding-top: 1em;
    width: 100%;
  }

  .profile_image{
    position: absolute;
    top: 70%;
    left: 35%;
  }

  .blog_title{
    text-align: center;
    padding-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
  }

  /* Styling for the main container */
.main_column{
    float: left;
    padding: 1em;
}

.right_main_column{
    width: 70%;
}

.left_main_column{
    width: 25%;
}

.main_row::after{
    content: "";
    display: table;
    clear: both;

}

.blog_column_pictures{
    width: 20%;
}

.blog_column_text{
    width: 75%
}

.blog_row{
    content:"";
    display: table;
    clear: both;
}

.blogImage{
    padding-bottom: 1em;
}